body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* background-color: #f1f5f9; */
}
 .container {
  min-height: 75vh;
  max-width: 1000px;
  margin: 0 auto;
   border: 3px solid #23516e71;
  padding: 40px;
  box-sizing: border-box;
  background-color: #e6f4ffdf; /* light blue semi-transparent */
  overflow-y: auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 50px;
}

/* Content Styling */
.content {
  color: #333;
  font-size: 1rem;
  line-height: 1.9;
  text-align: justify;
}

.content p {
  margin-bottom: 12px;
}
.content strong {
  /* display: block; */
  margin-top: 15px;
  color: #1d4e89;
  font-weight: 500;
}

/* Ordered List */
/* ol {
  padding-left: 20px;
} */

ol li {
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.7;
}

/* Responsive */
@media (max-width: 480px) {
  .container {
    margin: 100px 20px;
    padding: 20px;
    width: 150px;
  }

  .page-title {
    font-size: 20px;
  }
}